.grid {
  /* turn on chrome://flags/ Experimental Web Platform features  */
  display: grid;


  /*свойство для колонок*/
  /* станет ровно той ширины, которая нужна,
  чтобы уместить результат всех значений в свойстве  */
  /* min-content - минимальное содержание (1 слово) */
  /* max-content - максимальное содержание (все в 1 строку)*/
  grid-template-columns: min-content 1fr max-content;
}




/*========================
        Visualization
========================*/
.grid-item1 {
  background: palevioletred;
}
.grid-item2 {
  background: lightsteelblue;
}
.grid-item3 {
  background: greenyellow;
}