body {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 40px 320px 40px;
    grid-gap: 10px 10px;
}
@media all and (max-width: 800px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 70px 600px 30px;
    }
    main {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
}

@media all and (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 30px 70px 300px 70px 30px;
    }
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

footer {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-row: repeat(3, 25%);
    grid-gap: 10px 10px;
}

@media all and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
    }


}

/*========================
        Visualization
========================*/
header,
footer {
    background: #4e5758;
}
nav,
aside {
    background: #1abc9c;
}
main {
    background: #3498db;
    padding: 10px;
}
article {
    background: #34495e;
}







