.grid {
    display: grid;

    /* сетка должно быть либо квадратом либо прямоугольников */
    /* пустую колонку можно назвать точкой (.) */
    /* центровина не может быть выше боковых колонок */
    grid-template-areas: "left topcenter right"
                         "foot1 center foot2"
                         "foot1    .   foot2";
}

header  { grid-area: topcenter; }
nav     { grid-area: left; }
aside   { grid-area: right; }
main    { grid-area: center; }
footer  { grid-area: foot1; }
address { grid-area: foot2; }

/*========================
        Visualization
========================*/

.grid > * {
    border: 1px solid;
}